* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  /* max-width: 1140px; */
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

a, p, h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

body {
  background-color: #F6F6F6;
}

.btn {
  transition: all 0.2s ease-in-out;
  background-color: #fff;
  padding: 11px 20px;
  border: 1px solid;
}
.btn__primary {
  border-radius: 14px;
  color: #181818;
  border-color: #fff;
  padding: 11px 20px;
}
.btn__primary:hover {
  background-color: #181818;
  border-color: #fff;
  color: #fff;
}
.btn__second {
  border-radius: 14px;
  color: #181818;
  border-color: #fff;
  padding: 11px 20px;
  max-width: 131px;
}
.btn__second:hover {
  background-color: #181818;
  border-color: #fff;
  color: #fff;
}
.btn__third {
  font-weight: 500;
  border-radius: 14px;
  color: #181818;
  border-color: #fff;
  padding: 11px 20px;
  max-width: 140px;
}
.btn__third:hover {
  background-color: #181818;
  border-color: #fff;
  color: #fff;
}

.input {
  padding: 5px 50px;
  border: none;
  border-radius: 12px 0px 0px 12px;
  outline: none;
}
@media screen and (max-width: 480px) {
  .input {
    max-width: 110px;
    padding: 5px 30px;
  }
}

.navbar {
  background: #181818;
  display: flex;
}
.navbar__wrapper {
  padding: 30px 0;
}
@media screen and (max-width: 900px) {
  .navbar__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.navbar__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar__img-first {
  display: none;
}
@media screen and (max-width: 900px) {
  .navbar__img-first {
    display: flex;
    color: #fff;
  }
}
.navbar__details {
  color: #fff;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
@media screen and (max-width: 900px) {
  .navbar__details {
    display: none;
  }
}
.navbar__details-busines {
  padding-right: 30px;
}

.header {
  background-image: url(../img/compress/1-section.webp);
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-height: 100vh;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 40px;
}
.header__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 15px;
}
@media screen and (max-width: 480px) {
  .header__wrapper {
    padding: 0px 15px;
  }
}
.header__items {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.header__items-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__items-block-h1 {
  font-size: 54px;
}
@media screen and (max-width: 480px) {
  .header__items-block-h1 {
    font-size: 40px;
  }
}
.header__items-block-p {
  font-size: 14px;
  font-weight: 400;
}
.header__items-p {
  text-align: center;
  max-width: 580px;
}
@media screen and (max-width: 480px) {
  .header__items-p {
    text-align: left;
  }
}
.header__items-svgs {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-right: 40px;
  gap: 20px;
}
@media screen and (max-width: 480px) {
  .header__items-svgs {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (max-width: 320px) {
  .header__items-svgs {
    gap: 5px;
    padding-right: 0px;
  }
}
.header__items-svgs-li {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.speciality {
  background-color: black;
}
.speciality__container {
  margin: 0 auto;
  padding: 0px 140px;
}
.speciality__wrapper {
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.speciality__text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
.speciality__text-h1 {
  color: #fff;
  font-size: 40px;
}
.speciality__text-p {
  text-align: left;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
}
.speciality__items {
  display: grid;
  grid-template-columns: 576px 576px;
  gap: 50px;
  color: #fff;
}
@media screen and (max-width: 1240px) {
  .speciality__items {
    gap: 15px;
    grid-template-columns: 450px 450px;
  }
}
@media screen and (max-width: 1000px) {
  .speciality__items {
    grid-template-columns: 576px;
  }
}
@media screen and (max-width: 640px) {
  .speciality__items {
    grid-template-columns: 400px;
  }
}
@media screen and (max-width: 480px) {
  .speciality__items {
    grid-template-columns: 300px;
  }
}
@media screen and (max-width: 320px) {
  .speciality__items {
    grid-template-columns: 250px;
  }
}
.speciality__item-first {
  background-image: url(../img/compress/pic-1.webp);
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-end;
  padding: 30px 30px;
}
.speciality__item-second {
  background-image: url(../img/compress/pic-2.webp);
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-end;
  padding: 30px 30px;
}
.speciality__item-third {
  background-image: url(../img/compress/pic-3.webp);
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-end;
  padding: 30px 30px;
}
.speciality__item-fourth {
  background-image: url(../img/compress/pic-4.webp);
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-end;
  padding: 30px 30px;
}
.speciality__item-h2 {
  font-size: 18px;
  font-weight: 400;
  color: #C0C0C0;
}
.speciality__item-p {
  font-size: 14px;
  font-weight: 400;
  color: #C0C0C0;
  text-align: left;
}

.japan {
  background-image: url(../img/compress/section-2.webp);
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  max-height: 100vh;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.japan__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 200px;
  padding-right: 40px;
  padding-bottom: 45px;
}
@media screen and (max-width: 480px) {
  .japan__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 15px;
  }
}
.japan__items {
  display: flex;
  flex-direction: column;
  justify-items: end;
  padding-right: 60px;
  color: #fff;
}
@media screen and (max-width: 480px) {
  .japan__items {
    padding: 0px;
  }
}
.japan__items-p {
  max-width: 300px;
  font-size: 14px;
  color: #C0C0C0;
}
.japan__svgs {
  color: #fff;
  gap: 20px;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 480px) {
  .japan__svgs {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (max-width: 320px) {
  .japan__svgs {
    gap: 5px;
    padding-right: 0px;
  }
}
.japan__svgs-details {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.cage {
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .cage {
    display: flex;
    flex-direction: column;
  }
}
.cage__wrapper {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 110px;
}
@media screen and (max-width: 1240px) {
  .cage__wrapper {
    padding-left: 60px;
  }
}
@media screen and (max-width: 480px) {
  .cage__wrapper {
    padding: 50px 15px;
    align-items: left;
  }
}
.cage__cage {
  font-size: 28px;
}
.cage__p-first {
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 10px;
  color: #C0C0C0;
  text-align: left;
}
.cage__p-main {
  max-width: 515px;
  padding-top: 15px;
  padding-bottom: 20px;
}
@media screen and (max-width: 1000px) {
  .cage__p-main {
    max-width: 400px;
    text-align: left;
    padding-right: 15px;
  }
}
@media screen and (max-width: 900px) {
  .cage__p-main {
    max-width: 300px;
    padding-right: 30px;
  }
}
.cage__items {
  background-image: url(../img/compress/section-3.png);
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 50%;
  max-height: 100vh;
  height: 540px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-bottom: 45px;
  padding-right: 40px;
}
@media screen and (max-width: 480px) {
  .cage__items {
    width: 100%;
  }
}
.cage__items-svgs {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 20px;
  align-items: flex-end;
}
@media screen and (max-width: 900px) {
  .cage__items-svgs {
    gap: 6px;
  }
}
@media screen and (max-width: 640px) {
  .cage__items-svgs {
    display: flex;
    flex-direction: column;
  }
}
.cage__items-svgs-li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.leaf {
  background-image: url(../img/compress/section-4.webp);
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  max-height: 100vh;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.leaf__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 200px;
  padding-right: 40px;
  padding-bottom: 45px;
}
@media screen and (max-width: 480px) {
  .leaf__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 15px;
  }
}
.leaf__items {
  display: flex;
  flex-direction: column;
  justify-items: end;
  padding-right: 60px;
  color: #fff;
}
@media screen and (max-width: 480px) {
  .leaf__items {
    padding: 0px;
  }
}
.leaf__items-p {
  max-width: 300px;
  font-size: 14px;
  color: #C0C0C0;
}
.leaf__svgs {
  color: #fff;
  gap: 20px;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 480px) {
  .leaf__svgs {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (max-width: 320px) {
  .leaf__svgs {
    gap: 3px;
    padding-right: 0px;
  }
}
.leaf__svgs-details {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.client {
  background-color: #000;
}
.client__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 100px;
  gap: 82px;
}
@media screen and (max-width: 480px) {
  .client__wrapper {
    padding: 120px 15px;
  }
}
.client__text {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.client__text-h2 {
  font-size: 40px;
}
.client__text-p {
  text-align: center;
  font-size: 24px;
  color: #C0C0C0;
}
.client__img {
  display: flex;
  flex-direction: row;
  gap: 110px;
}
.client__img-item {
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 1240px) {
  .client__img {
    gap: 50px;
  }
}
@media screen and (max-width: 1000px) {
  .client__img {
    display: grid;
    grid-template-columns: 100px 100px;
    gap: 150px;
  }
}
@media screen and (max-width: 640px) {
  .client__img {
    grid-template-columns: 140px;
    gap: 60px;
  }
}

.nepal {
  background-image: url(../img/compress/section-5.webp);
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  max-height: 100vh;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.nepal__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 200px;
  padding-right: 40px;
  padding-bottom: 45px;
}
@media screen and (max-width: 480px) {
  .nepal__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 15px;
  }
}
.nepal__items {
  display: flex;
  flex-direction: column;
  justify-items: end;
  padding-right: 60px;
  color: #fff;
}
@media screen and (max-width: 480px) {
  .nepal__items {
    padding: 0px;
  }
}
.nepal__items-p {
  max-width: 300px;
  font-size: 14px;
  color: #C0C0C0;
}
.nepal__svgs {
  color: #fff;
  gap: 20px;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 480px) {
  .nepal__svgs {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (max-width: 320px) {
  .nepal__svgs {
    gap: 3px;
    padding-right: 0px;
  }
}
.nepal__svgs-details {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.contact {
  background-color: #000;
}
.contact__wrapper {
  display: flex;
  flex-direction: column;
  padding: 120px 0px;
  align-items: center;
  gap: 20px;
}
.contact__h2 {
  color: #fff;
  font-size: 45px;
  max-width: 650px;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .contact__h2 {
    font-size: 24px;
  }
}
.contact__p {
  color: #C0C0C0;
  font-size: 24px;
}
@media screen and (max-width: 480px) {
  .contact__p {
    font-size: 14px;
  }
}

.footer {
  background-color: black;
}
.footer__hr {
  height: 2px;
  color: #fff;
}
.footer__wrapper {
  padding: 100px 0px;
  color: #fff;
}
.footer__items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 35px;
}
@media screen and (max-width: 640px) {
  .footer__items {
    gap: 30px;
    display: flex;
    flex-direction: column;
  }
}
.footer__items-first {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__items-first-p {
  color: #C0C0C0;
  font-size: 13px;
}
.footer__items-second {
  padding-left: 180px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (max-width: 640px) {
  .footer__items-second {
    padding: 0px;
  }
}
.footer__items-h3 {
  color: #C0C0C0;
  font-size: 20px;
  font-weight: 200;
}
.footer__items-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer__link {
  display: flex;
  flex-direction: row;
  padding: 40px 0px;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 640px) {
  .footer__link {
    gap: 30px;
    display: flex;
    flex-direction: column;
  }
}
.footer__link__h2 {
  font-size: 24px;
  font-weight: 200;
}
.footer__link__p {
  font-size: 12px;
  font-weight: 300;
}
.footer__link__text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer__link__input {
  border-radius: 12px;
  background-color: #fff;
  display: flex;
  padding: 10px;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .footer__link__input {
    max-width: 200px;
  }
}
.footer__link__btn {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 10px 10px;
}
.footer__under {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 640px) {
  .footer__under {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
.footer__under-p {
  color: #C0C0C0;
}
.footer__under-items {
  display: flex;
  flex-direction: row;
  gap: 20px;
}/*# sourceMappingURL=style.css.map */