.nepal{
    background-image: url(../img/compress/section-5.webp);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    max-height: 100vh;
    height: 600px;
    @include flex-column;
    justify-content: flex-end;
    &__wrapper{
        @include flex-column;
        align-items: flex-end; 
        gap: 200px;
        padding-right: 40px;
        padding-bottom: 45px;
        @include Small-480-PcScreen{
            @include flex-column;
            gap: 10px;
            padding: 0px $padding-container;
        }
    }
    &__items{
        @include flex-column;
        justify-items: end;
        padding-right: 60px;
        color: $color-white;
        @include Small-480-PcScreen{
            padding: 0px;
        }
        &-p{
            max-width: 300px;
            font-size: 14px;
            color: $color-gray;
        }
    }
    &__svgs{
        color: $color-white;
        gap: 20px;
        @include flex-row;
        @include Small-480-PcScreen{
            @include flex-row   
        }
        @include Small-320-PcScreen{
            gap: 3px;
            padding-right: 0px;
        }
        &-details{
            align-items: center;
            @include flex-row;
            gap: 3px;
        }
    }
}